@import "../../variables.module";

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    background-color: darken($color: $backgroundColor, $amount: 100);
    -webkit-box-shadow: inset 0px -2px 5px 0px rgba(0,0,0,0.44);
    -moz-box-shadow: inset 0px -2px 5px 0px rgba(0,0,0,0.44);
    box-shadow: inset 0px -2px 5px 0px rgba(0,0,0,0.44);
    a{
        
        img{
            width: 2em;
            height: 2em;
            margin: 0.5em;
        }
    }
    &__settings{
        position: absolute;
        background: linear-gradient(180deg, rgba(0,0,0,1) 45%, rgba(37,98,97,1) 83%, rgba(130,49,124,1) 100%);
        color: #fff;
        width: 10em;
        height: 80vh;
        right: 0;
        border: 3px solid $elementColor;
        border-radius: 0.5em;
        transform: translateY(2.5rem);
        padding: 0.5em 2em 0 1em ;
        z-index: 999;
        &__mobile{
            display: none;
        }
        p{
            input{
                width: 35%;
                aspect-ratio: 1;
                background-color: transparent;
                outline: none;
                color: $accentColor;
                font-size: 1.2em;
                border: 2px solid $elementColor;
                border-radius: 0.5em;
                padding: 0.1em;
                text-align: center;
                &:focus{
                    border-color: lighten($color: $accentColor , $amount: 20);
                    filter: drop-shadow(0 0 0.1em #fff);
                }
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
}
        }
        

    }
}
.burger{
    width: 3em;
    height: 3em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    &:hover &__layer{
        transform: rotate(90deg);
    }
    &:hover &__layer__toggled{
        transform: translateX(0) rotate(90deg);
    }

        
    &__layer{
        background-color: #fff;
        position: absolute;
        height: 0.2em;
        width: 1em;
        transition: transform 0.2s;
        &:nth-child(1){
            transform: translateY(-150%);
        }
        &:nth-last-child(1){
            transform: translateY(150%);
        }
        
    &__toggled{
        background-color: $accentColor;
        position: absolute;
        transform: translateX(-20%) rotate(90deg);
        height: 0.2em;
        width: 1em;
        transition: transform 0.2s;
        &:nth-child(1){
            transform: translateX(-50%) rotate(90deg);
            background-color: #fff;
        }
        &:nth-last-child(1){
            transform: translateX(10%) rotate(90deg);
            background-color: $elementColor;
        }
        
    }   
    }
}

@media (max-width: 600px) {
    .header{
        height: 5em;
        a{
            img{
                width: 4em;
                height: 4em;
            }
        }
        &__settings{
            position: absolute;
            transform: translateY(5em);
            div{
                width: 80%;
                aspect-ratio: 1;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                filter: brightness(0) saturate(100%) invert(55%) sepia(69%) saturate(460%) hue-rotate(130deg) brightness(92%) contrast(93%);
            }
            &__mobile{
                display: block;
            }
        }
    }
    .burger{
        &__layer{
            height: 0.4em;
            width: 2em;
            &__toggled{
                height: 0.4em;
                width: 2em;
            }
        }
        
    }
}