.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  background-color: black;
  box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0.44);
}
.header a img {
  width: 3em;
  height: 3em;
  margin: 0.5em;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.header__settings {
  position: absolute;
  background: linear-gradient(180deg, rgb(0, 0, 0) 45%, rgb(37, 98, 97) 83%, rgb(130, 49, 124) 100%);
  color: #fff;
  width: 10em;
  height: 80vh;
  right: 0;
  border: 3px solid #e354d9;
  border-radius: 0.5em;
  transform: translateY(2.5rem);
  padding: 0.5em 2em 0 1em;
  z-index: 999;
}
.header__settings__mode {
  display: flex;
  gap: 0.5em;
  align-items: center;
  width: 100%;
}
.header__settings__mode button {
  padding: 0.5em;
  background-color: #e354d9;
  width: 40%;
  color: #fff;
  border: 2px solid #e354d9;
  border-radius: 0.5em;
  font-size: 1em;
  font-weight: bold;
}
.header__settings__mode__btnEnabled {
  filter: drop-shadow(0 0 0.5em #e354d9);
}
.header__settings__mode__btnDisabled {
  filter: grayscale(100%);
}
.header__settings__mode__btnActive {
  border: 2px solid #20b0ae !important;
  filter: drop-shadow(0 0 0.5em #20b0ae);
}
.header__settings__mode__info {
  font-size: 0.8em;
  color: #acb0ad;
}
.header__settings__mobile {
  display: none;
}
.header__settings p input {
  width: 35%;
  aspect-ratio: 1;
  background-color: transparent;
  outline: none;
  color: #20b0ae;
  font-size: 1.2em;
  border: 2px solid #e354d9;
  border-radius: 0.5em;
  padding: 0.1em;
  text-align: center;
}
.header__settings p input:focus {
  border-color: #56e0de;
  filter: drop-shadow(0 0 0.1em #fff);
}
.header__settings p input::-webkit-outer-spin-button,
.header__settings p input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.burger {
  width: 3em;
  height: 3em;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.burger:hover .burger__layer {
  transform: rotate(90deg);
}
.burger:hover .burger__layer__toggled {
  transform: translateX(0) rotate(90deg);
}
.burger__layer {
  background-color: #fff;
  position: absolute;
  height: 0.2em;
  width: 1em;
  transition: transform 0.2s;
}
.burger__layer:nth-child(1) {
  transform: translateY(-150%);
}
.burger__layer:nth-last-child(1) {
  transform: translateY(150%);
}
.burger__layer__toggled {
  background-color: #20b0ae;
  position: absolute;
  transform: translateX(-20%) rotate(90deg);
  height: 0.2em;
  width: 1em;
  transition: transform 0.2s;
}
.burger__layer__toggled:nth-child(1) {
  transform: translateX(-50%) rotate(90deg);
  background-color: #fff;
}
.burger__layer__toggled:nth-last-child(1) {
  transform: translateX(10%) rotate(90deg);
  background-color: #e354d9;
}

@media screen and (max-width: 600px) {
  .header {
    height: 5em;
  }
  .header a img {
    width: 4em;
    height: 4em;
  }
  .header__settings {
    position: absolute;
    transform: translateY(5em);
  }
  .header__settings div {
    width: 80%;
    aspect-ratio: 1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: brightness(0) saturate(100%) invert(55%) sepia(69%) saturate(460%) hue-rotate(130deg) brightness(92%) contrast(93%);
  }
  .header__settings__mobile {
    display: block;
  }
  .burger__layer {
    height: 0.4em;
    width: 2em;
  }
  .burger__layer__toggled {
    height: 0.4em;
    width: 2em;
  }
}/*# sourceMappingURL=Header.module.css.map */