*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .container{
    display: flex;
    background-color: #464a47;
    flex-direction: column;
    
  }
  main{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
 