.board {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90dvh;
  padding: 2em 0 2em 0;
}
.board__background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 10em;
  aspect-ratio: 0.7;
  left: 0.5em;
  top: 3.5em;
  border-radius: 1em;
  background: rgb(32, 176, 174);
  background: linear-gradient(150deg, rgb(32, 176, 174) 0%, rgb(227, 84, 217) 100%);
}
.board__background:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: 0.2em;
  border-radius: inherit;
  background-color: black;
}
.board__background div {
  width: 80%;
  aspect-ratio: 0.7;
  margin: 10%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(0) saturate(100%) invert(55%) sepia(69%) saturate(460%) hue-rotate(130deg) brightness(92%) contrast(93%);
}
.board__background p {
  position: absolute;
  margin: 0.2em 0.2em;
  top: 0;
  left: 0;
  font-size: 2em;
  text-transform: uppercase;
  color: #fff;
}
.board__mobile__indicator {
  position: absolute;
  font-size: 2em;
  color: #fff;
  font-weight: 700;
  opacity: 0;
}
.board__mobile__indicator#right {
  top: 2.3em;
  left: 0.5em;
}
.board__mobile__indicator#right span {
  display: inline-block;
  transform: scale(-1, 1);
}
.board__mobile__indicator#left {
  top: 2.3em;
  right: 0.5em;
}

.playfield {
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 70% !important;
  height: 85vh;
  justify-content: center;
  align-items: center;
}
.playfield__row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
  border: none;
}
.playfield__row:nth-child(1) .playfield__row__cell:nth-child(1) {
  border-left: none;
  border-top: none;
}
.playfield__row:nth-child(1) .playfield__row__cell:nth-last-child(n-2) {
  border-top: none;
}
.playfield__row:nth-child(1) .playfield__row__cell:nth-last-child(1) {
  border-top: none;
  border-right: none;
}
.playfield__row:nth-last-child(n-2) .playfield__row__cell:nth-child(1) {
  border-left: none;
}
.playfield__row:nth-last-child(n-2) .playfield__row__cell:nth-last-child(1) {
  border-right: none;
}
.playfield__row:nth-last-child(1) .playfield__row__cell:nth-child(1) {
  border-left: none;
  border-bottom: none;
}
.playfield__row:nth-last-child(1) .playfield__row__cell:nth-last-child(n-2) {
  border-bottom: none;
}
.playfield__row:nth-last-child(1) .playfield__row__cell:nth-last-child(1) {
  border-right: none;
  border-bottom: none;
}
.playfield__row__cell {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: transparent;
  border: solid 5px #20b0ae;
}
.playfield__row__cell__fadeIn {
  animation: cell-fade-in 0.3s infinite;
}
.playfield__row__cell__fadeOut {
  animation: cell-fade-out 0.3s infinite;
}
.playfield__row__cell div {
  position: absolute;
  padding: 0.3em;
  color: #e354d9;
  width: 95%;
  height: 95%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.playfield__row__cell__taken {
  animation: shake 0.2s linear;
}

@keyframes cell-spin-in {
  from {
    transform: rotate3d(1, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(1, 0, 0, 180deg);
  }
}
@keyframes cell-spin-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes shake {
  0% {
    translate: -6%;
  }
  35% {
    translate: 9%;
  }
  60% {
    translate: -7%;
  }
  100% {
    translate: 0;
  }
}
@media screen and (max-width: 600px) {
  .playfield {
    width: 90% !important;
    aspect-ratio: 1;
    height: auto;
  }
  .board__background {
    display: none;
  }
  .board__mobile__indicator {
    opacity: 0.2;
  }
}/*# sourceMappingURL=page.module.css.map */